*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  background-color: #101010;
  color: white;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

ol, ul, li {
  list-style: none;
}

section:not(#hero, #projects, #temp, #closing) {
  padding: 16.5vh 0;
}

#bigTitle {
  font-size: clamp(3rem, 6vw, 5rem);
  letter-spacing: 2px;
  font-kerning: none;
  text-shadow: 0px 1px 24px black;
  color: white;
  text-align: center;
}

h2 {
  font-size: 3rem;
  line-height: 68px;
  font-weight: 600;
  margin-bottom: 26px;
}

p {
  word-spacing: 1.8;
}

/* helpers */
.wrapper {
  padding: 0 10vw;
}

.light-mode {
  background-color: #EFEFEF;
  color: #000;
}

.special {
  filter: invert(0);
}

/*------ FOOTER ------- */
footer {
  width: 100%;
  padding: 30px 10vw;
  box-shadow: 0rem 1rem 5rem #EFEFEF;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
footer div img {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  footer div img {
    padding-bottom: 0;
  }
}
footer div ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}
@media (min-width: 768px) {
  footer div ul {
    flex-direction: row;
  }
}
footer div ul li {
  padding-left: 0px;
}
@media (min-width: 768px) {
  footer div ul li {
    padding-left: 40px;
  }
}

.dark-light-mode {
  width: 100%;
  height: 82px;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 15px;
  gap: 16px;
}
@media (min-width: 768px) {
  .dark-light-mode {
    gap: 21px;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.dark-light-mode .switch {
  width: 63px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 2px;
  background-color: rgb(87, 79, 79);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 22.0625px 0.125px inset, rgba(0, 0, 0, 0.8) 0px 0.0625px 5.125px inset, rgb(255, 255, 255) 0px 0px 3px -1px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .dark-light-mode .switch {
    width: 80px;
  }
}
.dark-light-mode .button {
  width: 50%;
  height: 27px;
  position: relative;
  border-radius: 10px;
  box-shadow: inset 0 0 5.0625px 1.125px rgb(0, 0, 0), inset -6px -4.5px 3.0625px 3.125px rgba(255, 255, 255, 0.8);
  border: 0.5px solid white;
  background-color: rgb(212, 212, 212);
  transform: translateX(0px);
  transition: left 0.5 ease;
}
@media (min-width: 768px) {
  .dark-light-mode .button {
    height: 35px;
  }
}
.dark-light-mode .button:hover {
  background-color: grey;
}

.active {
  transform: translateX(50px);
}

#burgerM {
  width: 43px;
  height: 27px;
  position: fixed;
  cursor: pointer;
  z-index: 10;
  right: 20px;
  top: 20px;
}
#burgerM span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
#burgerM span:nth-child(1) {
  top: 0;
}
#burgerM span:nth-child(2) {
  top: 11px;
}
#burgerM span:nth-child(3) {
  top: 23px;
}
#burgerM.open span:nth-child(1) {
  top: 11px;
  transform: rotate(45deg);
}
#burgerM.open span:nth-child(2) {
  opacity: 0;
}
#burgerM.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-45deg);
}

#nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  justify-content: space-between;
  z-index: 3;
  border-bottom: 1px solid white;
  opacity: 0;
  padding: 0rem 10vw;
  visibility: hidden;
}
@media (min-width: 768px) {
  #nav-link {
    flex-direction: row;
  }
}
#nav-link .logo {
  transform: scale(0.2);
  transform-origin: center;
  transition: transform 0.5s ease;
  width: 32px;
}
#nav-link ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  margin: 30px 0;
}
@media (min-width: 768px) {
  #nav-link ul {
    flex-direction: row;
  }
}
#nav-link ul a {
  padding: 0;
}
@media (min-width: 768px) {
  #nav-link ul a {
    padding: 25px;
  }
}
#nav-link ul li:nth-child(3) > a:nth-child(1) {
  padding-right: 0;
}
#nav-link.isClicked {
  opacity: 1;
  padding: 1.5rem 10vw;
  visibility: visible;
}
#nav-link.isClicked .logo {
  transform: scale(0.4);
}

/*------ HERO SECTION Projects------- */
#hero {
  height: 100svh;
  width: 100%;
  opacity: 1;
  transform: scale(1);
  position: fixed;
  background-position: 72% 52%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1024px) {
  #hero {
    height: 100vh;
  }
}
#hero #bigTitle {
  text-transform: uppercase;
  max-width: 88%;
}
#hero .hero-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero1 {
  background-image: url("https://images.unsplash.com/photo-1735790994003-26ca41b3ccb2?q=80&w=2630&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

/* .hero2
 *  background-image: url("https://images.unsplash.com/photo-1736687107097-0022360964fb?q=80&w=2630&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
 * */
#navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 10px;
  height: 55vh;
  z-index: 100;
}
#navigation #arrows {
  display: flex;
  flex-direction: column;
}

/*------ SKILLS SECTION ------- */
#sections-container {
  position: relative;
  top: 100vh;
  z-index: 2;
  background-color: inherit;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#skills-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 46px;
  margin-bottom: 68px;
}
@media (min-width: 1024px) {
  #skills-text {
    flex-direction: row;
    gap: 120px;
  }
}
#skills-text p {
  /* text-wrap: balance */
  max-width: 700px;
  line-height: 1.7;
  font-size: 14px;
}

#skills-list {
  width: 100%;
  height: 100%;
  min-height: 200px;
}
#skills-list ul {
  display: flex;
  flex-direction: column;
  gap: 68px;
}
#skills-list ul .P-icon {
  margin-right: 20px;
  vertical-align: middle;
}

/*------ PROJECTS SECTION ------- */
#projects {
  scroll-margin: 100px;
}

#container {
  padding-top: 0;
  padding-bottom: 0;
}
#container p {
  line-height: 2;
}
#container figure {
  margin: 50px 0;
}
@media (min-width: 768px) {
  #container figure {
    margin: 90px 0;
  }
}
#container figure:last-child {
  margin-bottom: 0;
}
#container .project-image {
  display: flex;
  flex-direction: column;
}
#container .project-image figurecaption {
  margin-top: 10px;
  font-size: 0.8rem;
}

/*------ CLOSING SECTION ------- */
#closing .wrapper {
  padding-top: 16.5vh;
  padding-bottom: 16.5vh;
}

#closing-text {
  text-align: center;
  margin-bottom: 195px;
}
@media (min-width: 1024px) {
  #closing-text {
    margin-bottom: 350px;
  }
}

#closing-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-left {
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 1024px) {
  .flex-left {
    flex-direction: row;
  }
}

.flex-right {
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 1024px) {
  .flex-right {
    flex-direction: row-reverse;
  }
}

.link-arrow {
  display: flex;
  gap: 0px;
}
@media (min-width: 1024px) {
  .link-arrow {
    gap: 69px;
  }
}
.link-arrow p {
  text-wrap: nowrap;
  align-self: center;
}

.link-arrow:hover .lineDownArrow {
  transform: scaleY(1.4);
}
.link-arrow:hover img {
  transform: translateY(20px);
}

.leftArrow {
  width: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  rotate: 90deg;
  translate: 41px;
}
.leftArrow .lineDownArrow {
  width: 2.5px;
  height: 54px;
  background-color: white;
  position: relative;
  bottom: -25px;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.5s ease;
}
.leftArrow img {
  width: 38px;
  transform: translateY(0px);
  transition: transform 0.5s ease;
}

.rightArrow {
  width: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  rotate: -90deg;
  translate: -39px;
}
.rightArrow .lineDownArrow {
  width: 2.5px;
  height: 54px;
  background-color: white;
  position: relative;
  bottom: -25px;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.5s ease;
}
.rightArrow img {
  width: 38px;
  transform: translateY(0px);
  transition: transform 0.5s ease;
}

.frame {
  position: absolute;
  left: 50%;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  transform: translate(-50%, -247%);
}
@media (min-width: 768px) {
  .frame {
    transform: translate(-50%, -23%);
  }
}

.grid-container {
  width: 64px;
  height: 63px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  overflow: hidden;
  gap: 4px;
}
.grid-container .square-all {
  background-color: white;
  flex-grow: 1;
  transition: transform 0.5s ease;
  transform-origin: top;
}
.grid-container .square1 {
  width: 20px;
  height: 15px;
  border-radius: 5px;
  transform: translateY(0px);
}
.grid-container .square2 {
  width: 20px;
  height: 40px;
  border-radius: 5px;
  transform: translateY(12px);
}
.grid-container .square3 {
  width: 20px;
  height: 40px;
  border-radius: 5px;
  transform: translateY(-10px);
}
.grid-container .square4 {
  width: 20px;
  height: 15px;
  border-radius: 5px;
  transform: translateY(0px);
}

.grid-container:hover .square1 {
  transform: translateY(-10px);
}
.grid-container:hover .square2 {
  transform: translateY(22px);
}
.grid-container:hover .square3 {
  transform: translateY(-15px);
}
.grid-container:hover .square4 {
  transform: translateY(15px);
}

.modal {
  width: 100%;
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  height: 100vh;
  opacity: 0;
}
.modal h3 {
  margin-top: 30px;
}

.opening {
  opacity: 1;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  filter: invert(1);
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  justify-self: center;
  align-self: center;
  min-width: 518px;
  transform: translateY(-109px);
  transition: transform 1s ease;
  transform: scale(0.8);
}

.img-container {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
}
.img-container p {
  transition: transform 0.5s ease;
  transform: scale(1);
  opacity: 0.8;
  font-size: 30px;
  text-shadow: 0px 1px 24px black;
  color: white;
}

.item-a {
  justify-self: right;
}

.item-b {
  justify-self: left;
}

.img-container:hover p {
  transform: scale(1.2);
  opacity: 1;
}

.img-container:nth-of-type(1) {
  background-image: url(../assets/img/projects/square/cyber_square_L.jpg);
}

.img-container:nth-of-type(2) {
  background-image: url(../assets/img/projects/square/beach_square_L.jpg);
}

.img-container:nth-of-type(3) {
  background-image: url(../assets/img/projects/square/geom_square_L.jpg);
}

.img-container:nth-of-type(4) {
  background-image: url(../assets/img/projects/square/station_sqaure_L.jpg);
}/*# sourceMappingURL=project.css.map */