/* helpers */
.wrapper {
  padding: 0 10vw;
}

.light-mode {
  background-color: #EFEFEF;
  color: #000;
}

.special {
  filter: invert(0);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  background-color: #101010;
  color: white;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

ol, ul, li {
  list-style: none;
}

section:not(#hero, #projects, #temp) {
  padding: 16.5vh 0;
}

#bigTitle {
  font-size: clamp(3rem, 6vw, 5rem);
  letter-spacing: 2px;
  font-kerning: none;
  text-shadow: 0px 1px 24px black;
  color: white;
  text-align: center;
}

h2 {
  font-size: 3rem;
  line-height: 68px;
  font-weight: 600;
  margin-bottom: 26px;
}

p {
  word-spacing: 1.8;
}

#burgerM {
  width: 43px;
  height: 27px;
  position: fixed;
  cursor: pointer;
  z-index: 10;
  right: 20px;
  top: 20px;
}
#burgerM span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
#burgerM span:nth-child(1) {
  top: 0;
}
#burgerM span:nth-child(2) {
  top: 11px;
}
#burgerM span:nth-child(3) {
  top: 23px;
}
#burgerM.open span:nth-child(1) {
  top: 11px;
  transform: rotate(45deg);
}
#burgerM.open span:nth-child(2) {
  opacity: 0;
}
#burgerM.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-45deg);
}

#nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  justify-content: space-between;
  z-index: 3;
  border-bottom: 1px solid white;
  opacity: 0;
  padding: 0rem 10vw;
  visibility: hidden;
}
@media (min-width: 768px) {
  #nav-link {
    flex-direction: row;
  }
}
#nav-link .logo {
  transform: scale(0.2);
  transform-origin: center;
  transition: transform 0.5s ease;
  width: 32px;
}
#nav-link ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  margin: 30px 0;
}
@media (min-width: 768px) {
  #nav-link ul {
    flex-direction: row;
  }
}
#nav-link ul a {
  padding: 0;
}
@media (min-width: 768px) {
  #nav-link ul a {
    padding: 25px;
  }
}
#nav-link ul li:nth-child(3) > a:nth-child(1) {
  padding-right: 0;
}
#nav-link.isClicked {
  opacity: 1;
  padding: 3rem 10vw;
  visibility: visible;
}
#nav-link.isClicked .logo {
  transform: scale(0.4);
}

.dark-light-mode {
  width: 100%;
  height: 82px;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 15px;
  gap: 16px;
}
@media (min-width: 768px) {
  .dark-light-mode {
    gap: 21px;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.dark-light-mode .switch {
  width: 63px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 2px;
  background-color: rgb(87, 79, 79);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 22.0625px 0.125px inset, rgba(0, 0, 0, 0.8) 0px 0.0625px 5.125px inset, rgb(255, 255, 255) 0px 0px 3px -1px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .dark-light-mode .switch {
    width: 80px;
  }
}
.dark-light-mode .button {
  width: 50%;
  height: 27px;
  position: relative;
  border-radius: 10px;
  box-shadow: inset 0 0 5.0625px 1.125px rgb(0, 0, 0), inset -6px -4.5px 3.0625px 3.125px rgba(255, 255, 255, 0.8);
  border: 0.5px solid white;
  background-color: rgb(212, 212, 212);
  transform: translateX(0px);
  transition: left 0.5 ease;
}
@media (min-width: 768px) {
  .dark-light-mode .button {
    height: 35px;
  }
}
.dark-light-mode .button:hover {
  background-color: grey;
}

.active {
  transform: translateX(50px);
}

/*------ HERO SECTION ------- */
#hero {
  height: 100svh;
  width: 100%;
  opacity: 1;
  transform: scale(1);
  z-index: 1;
  position: fixed;
}
@media (min-width: 1024px) {
  #hero {
    height: 100vh;
  }
}
#hero #hero-background {
  height: 100svh;
  width: 50%;
  background-image: url("https://images.unsplash.com/photo-1734631182506-a7d433ba66d6?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.5;
  right: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  #hero #hero-background {
    height: 100vh;
  }
}
#hero p {
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 20px;
}
#hero .hero-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#hero #social {
  display: none;
  flex-wrap: nowrap;
  width: 50%;
  align-items: center;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 50px;
  right: 0;
  gap: 40px;
}
#hero #social a > img {
  width: 32px;
}
#hero #social #hero-line {
  width: 36%;
  height: 2px;
  background-color: white;
}
@media (min-width: 768px) {
  #hero #social {
    display: flex;
  }
}

.Tcontainer {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-shortcut {
  width: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#projects-shortcut:hover .lineDownArrow {
  transform: scaleY(1.4);
}
#projects-shortcut:hover img {
  transform: translateY(20px);
}
#projects-shortcut:hover .square {
  transform: translateY(20px) rotate(90deg);
  border: none;
  background-color: white;
}

.square {
  width: 31px;
  height: 46px;
  border: 1px solid white;
  margin-top: 22px;
  transform: translateY(0px) rotate(0);
  background-color: transparent;
  transition: background-color, transform 0.5s ease;
}

.downArrow {
  width: 31px;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.downArrow .lineDownArrow {
  width: 2.5px;
  height: 54px;
  background-color: white;
  position: relative;
  bottom: -25px;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.5s ease;
}
.downArrow img {
  width: 38px;
  transform: translateY(0px);
  transition: transform 0.5s ease;
}

/* #navigation
 *  display: flex
 *  flex-direction: column
 *  justify-content: space-between
 *  align-items: center
 *  position: fixed
 *  right: 10px
 *  height: 55vh
 *  z-index: 100
 *
 *  #arrows
 *      display: none
 *      flex-direction: column 
 *      */
#sections-container {
  position: relative;
  top: 100vh;
  z-index: 2;
  background-color: inherit;
}

/*------ SKILLS SECTION ------- */
.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#skills-text {
  margin-bottom: 68px;
}
@media (min-width: 768px) {
  #skills-text {
    margin-block: 32px;
  }
}
#skills-text p {
  text-wrap: balance;
  max-width: 600px;
  line-height: 1.7;
}

#skills-list {
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-color: #181818;
  box-shadow: inset 0px 0px 5px #EFEFEF;
  align-content: center;
  margin-bottom: 166px;
  text-transform: uppercase;
  font-size: 0.9rem;
}
#skills-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
  #skills-list ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  #skills-list ul {
    grid-template-columns: repeat(5, 1fr);
  }
}
#skills-list li {
  padding: 24px;
}
@media (min-width: 768px) {
  #skills-list li {
    padding: 29px;
  }
}

/*------ PROJECTS SECTION ------- */
/* #projects
 * scroll-margin: 100px */
#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (min-width: 1024px) {
  #container {
    flex-direction: row;
  }
}
#container .project {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: auto;
  transition: none;
}
#container .project img {
  height: inherit;
}
#container .project .description {
  position: absolute;
  text-align: center;
  opacity: 1;
  transform: translateX(0) scale(1);
  transition: none;
}
@media (min-width: 1024px) {
  #container .project .description {
    opacity: 0;
    transform: translateX(100%) scale(1);
    transition: 0.5s ease-in-out;
  }
}
@media (min-width: 1024px) {
  #container .project {
    width: 25vw;
    height: 100vh;
    transition: width 0.5s ease;
    cursor: pointer;
  }
  #container .project:hover {
    width: 40%;
  }
  #container .project:hover .description {
    opacity: 1;
    transform: translateX(0) scale(1.2);
  }
}
#container .project:nth-of-type(1) {
  background-image: url("https://images.unsplash.com/photo-1735790994003-26ca41b3ccb2?q=80&w=2630&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 77% 45%;
  background-repeat: no-repeat;
  background-size: cover;
}
#container .project:nth-of-type(2) {
  background-image: url("https://images.unsplash.com/photo-1736687107097-0022360964fb?q=80&w=2630&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 72% 35%;
  background-repeat: no-repeat;
  background-size: cover;
}
#container .project:nth-of-type(3) {
  background-image: url("https://images.unsplash.com/photo-1734871172683-763cef840849?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 72% 35%;
  background-repeat: no-repeat;
  background-size: cover;
}
#container .project:nth-of-type(4) {
  background-image: url("https://images.unsplash.com/photo-1737069224287-44b47a1fcb4e?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 72% 35%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*------ CONTACT SECTION ------- */
.contact-wrapper {
  gap: 50px;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

#contact-text {
  max-width: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#contact-text p:nth-child(3) {
  margin-top: 20px;
}
@media (min-width: 1024px) {
  #contact-text {
    max-width: 500px;
  }
}

.half-div {
  width: 100%;
  margin-top: 3rem;
}
@media (min-width: 1024px) {
  .half-div {
    width: 50%;
  }
}

textarea {
  resize: vertical;
  max-width: 100%;
  min-height: 50px;
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.text-field {
  width: 100%;
  margin-bottom: 48px;
  padding: 4px 0;
  border-style: none none solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.4588235294);
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  outline: none;
}
.text-field:focus {
  border-color: #ffffff !important;
}

.outlined-btn {
  margin-top: 16px;
  margin-right: 16px;
  padding: 8px 24px;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: #101010;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: filter 0.5s ease;
  filter: invert(0);
}
.outlined-btn:hover {
  filter: invert(1);
}

/*------ FOOTER ------- */
footer {
  width: 100%;
  padding: 30px 10vw;
  box-shadow: 0rem 1rem 5rem #EFEFEF;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
footer div img {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  footer div img {
    padding-bottom: 0;
  }
}
footer div ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}
@media (min-width: 768px) {
  footer div ul {
    flex-direction: row;
  }
}
footer div ul li {
  padding-left: 0px;
}
@media (min-width: 768px) {
  footer div ul li {
    padding-left: 40px;
  }
}/*# sourceMappingURL=style.css.map */