@use '../../shared/_mixins' as *
@use '../../shared/_utilities' as *
@use '../../shared/_breakpoints' as *
@use '../../shared/_variables' as *
    
/*------ CONTACT SECTION ------- */

.contact-wrapper
    gap: 50px
    flex-direction: column
    @include xl-2
        @include wrapper-style(row, flex-start, space-between)

#contact-text
    max-width: none
    display: flex
    flex-direction: column
    align-items: flex-start
    p:nth-child(3)
        margin-top: 20px
    @include xl
        max-width: 500px

.half-div
    width: 100%
    @include xl-2
        width: 50%
    p
        margin-bottom: 46px 

textarea 
    resize: vertical
    max-width: 100%
    min-height: 150px

label
    display: block
    margin-bottom: 8px

.text-field 
    width: 100%
    padding: 8px
    margin-bottom: 8px
    border-style: none none solid
    border-width: 2px
    border-color: #a1a1a1ff
    border-radius: 0
    background-color: transparent
    outline: none

.outlined-btn
    padding: 8px 24px
    border: 1.5px solid #fff
    border-radius: 0
    background-color: #101010
    color: #fff
    cursor: pointer
    transition: filter 0.5s ease
    filter: invert(0)
    &:hover
       filter: invert(1)

.control-wrapper
    margin-bottom: 48px

.is-valid
    border-color: $success
    &:focus
        border-color: $successFocus

.is-invalid 
    border-color: $error
    &:focus
        border-color: $errorFocus