@use '../../shared/_breakpoints' as *
    
/*------ PROJECTS SECTION ------- */

#container
    height: 100vh
    width: 100vw
    display: flex
    flex-direction: column
    overflow: hidden
    img
        width: 100%;
        height: 100%;
        object-fit: cover
        object-position: 77% 45%

    @include xl
        flex-direction: row

    .project
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        overflow: hidden
        position: relative
        cursor: auto
        transition: none

        .description
            position: absolute
            text-align: center
            opacity: 1
            transform: translateX(0) scale(1)
            transition: none
            &::before
                content: ""
                width: 116%
                height: 116%
                inset: -8%
                position: absolute
                z-index: -1
                border-radius: 3px

            @include xl
                opacity: 0
                transform: translateX(100%) scale(1)
                transition: 0.5s ease-in-out

        @include xl
            width: calc(100vw / 4)
            height: 100vh
            transition: width 0.5s ease
            cursor: pointer

            &:hover
                width: 40%
                .description
                    opacity: 1
                    transform: translateX(0) scale(1.2)

