@use '../../shared/_breakpoints' as *

//------ Switch Button

.dark-light-mode
    width: 100%
    height: 82px
    position: absolute
    z-index: 2
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    flex-shrink: 0
    .neoBar
        gap: 16px
        display: flex
        background-color: #b6b6b621
        backdrop-filter: blur(4px)
        filter: noise(5)
        border-radius: 2rem
        padding: 8px 5%
        box-shadow: 5px 3px 6px 0px rgba(18, 21, 22, 0.6), inset 1px 1px 1px 0px rgba(255, 255, 255, 0.5)
        img
            filter: drop-shadow(1px 0px 4px black)

        .switch
            width: 60px
            height: 30px
            border-radius: 2rem
            padding: 3px
            background-color: rgb(87, 79, 79)
            box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 22.0625px 0.125px inset, rgba(0, 0, 0, 0.8) 0px 0.0625px 5.125px inset,rgb(255,255,255) 0px 0px 3px -1px
            cursor: pointer
            overflow: hidden
            .button
                width: 50%
                height: 100%
                border-radius: 2rem
                box-shadow: 5px 5px 10px #141414, -5px -5px 10px #282828, inset 1px 2px 2px 1px #FFFF, inset -1px -1px 3px 0px #101010
                background-color: rgb(212, 212, 212)
                transform: translateX(0px)

                &:hover
                    background-color: grey
