/*------ HERO SECTION Projects------- */
@use '../../shared/_mixins' as *
@use '../../shared/_breakpoints' as *
@use '../../shared/variables' as *
    
#hero
    height: $heroHeightMobile
    width: 100%
    opacity: 1
    transform: scale(1)
    position: fixed
    overflow: clip
    .hero-bg  
        position: absolute
        inset: 0
        height: $heroHeightMobile
        width: 100%
        object-fit: cover
        @include xl
            height: $heroHeight
    @include xl
        height: $heroHeight

    .hero-wrapper
        height: 100%
        @include wrapper-style(column, center)

#navigation
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    position: fixed
    right: 10px
    height: 55vh
    z-index: 100
    
    #arrows
        display: flex
        flex-direction: column


