/*------ HERO SECTION Projects------- */
@use '../../shared/_variables' as *
@use '../../shared/_mixins' as *
@use '../../shared/_breakpoints' as *
    
#hero
    height: 100svh
    width: 100%
    opacity: 1
    transform: scale(1)
    position: fixed
    background-position: 72% 52%
    background-repeat: no-repeat
    background-size: cover
    
    @include xl
        height: 100vh

    #bigTitle
        text-transform: uppercase
        max-width: clamp(50%, 88%, 100%)

    .hero-wrapper
        height: 100%
        @include wrapper-style(column, center)

#navigation
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    position: fixed
    right: 10px
    height: 55vh
    z-index: 100
    
    #arrows
        display: flex
        flex-direction: column


