@use '../../shared/_breakpoints' as *
/*------ PROJECTS SECTION ------- */
#projects
    scroll-margin: 100px
    
#container
    padding-top: 0
    padding-bottom: 0
    p
        line-height: 2
    figure
        margin: 50px 0
        @include lg
            margin: 90px 0

    & figure:last-child
        margin-bottom: 0 

    .project-image
        display: flex
        flex-direction: column
        
        figurecaption
            margin-top: 10px
            font-size: 0.8rem
