@use '../../shared/_breakpoints' as *
/*------ PROJECTS SECTION ------- */
#projects
    scroll-margin: 100px
    
#container
    p
        line-height: 2
        margin-bottom: 5.625rem

        @include lg
            margin-bottom: 5.625rem //90px

    .project-image
        display: flex
        flex-direction: column
        margin-bottom: 90px
        &:last-child
            margin-bottom: 0
        img
            width: 100%
    
        figcaption
            margin-top: 0.6rem
            font-size: 0.85rem
