@use '../shared/variables' as *
@use '../shared/_mixins' as *

@use '../shared/_resets'
@use '../shared/_typography'
@use '../shared/_helpers'
@use './components/_burgerM'

@use '../homepage/components/_switchButton'
@use '../homepage/components/_heroSection'



#sections-container
    position: relative
    top: 100vh
    z-index: 2
    background-color: inherit

/*------ SKILLS SECTION ------- */

.skills-wrapper
    @include wrapper-style(column, flex-start)

#skills-text
    margin-bottom: 68px

    p
        text-wrap: balance
        max-width: 600px
        line-height: 1.7

#skills-list
    width: 100%
    height: 100%
    min-height: 200px
    background-color: #181818
    box-shadow: inset 0px 0px 5px $light-bg
    align-content: center
    margin-bottom: 166px

    ul
        display: flex
        flex-wrap: wrap
        justify-content: space-around

    li
        padding: 40px

/*------ PROJECTS SECTION ------- */
/* #projects
 scroll-margin: 100px */

#container
    height: 100vh
    width: 100vw
    display: flex
    flex-direction: row
    overflow: hidden
    /*     .project
            display: flex
            flex: calc(100vw / 6) 1 1
            align-items: center
            justify-content: center
            overflow: hidden
            transition: 0.5s ease */
    
    .project
        width: calc(100vw/4)
        height: 100vh
        transition: width 0.5s ease
        display: flex
        align-items: center
        justify-content: center
        overflow: hidden
        cursor: pointer
        .description
            position: absolute
            transition: 0.5s ease-in-out
            transform: translateX(100%) scale(1)
            opacity: 0
        &:hover
            width: 40%
            //flex-basis: 40%
            .description
                transform: translateX(0) scale(1.2)
                opacity: 1
        img
            height: inherit


    .project:nth-of-type(1)
        background-image: url("https://images.unsplash.com/photo-1735790994003-26ca41b3ccb2?q=80&w=2630&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        background-position: 77% 45%
        background-repeat: no-repeat
        background-size: cover

    .project:nth-of-type(2)
        background-image: url("https://images.unsplash.com/photo-1736687107097-0022360964fb?q=80&w=2630&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        background-position: 72% 35%
        background-repeat: no-repeat
        background-size: cover

    .project:nth-of-type(3)
        background-image: url("https://images.unsplash.com/photo-1734871172683-763cef840849?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        background-position: 72% 35%
        background-repeat: no-repeat
        background-size: cover


    .project:nth-of-type(4)
        background-image: url("https://images.unsplash.com/photo-1737069224287-44b47a1fcb4e?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        background-position: 72% 35%
        background-repeat: no-repeat
        background-size: cover


/*------ CONTACT SECTION ------- */


.contact-wrapper
    @include wrapper-style(row, flex-start, space-between)
    gap: 50px

#contact-text
    max-width: 500px
    display: flex
    flex-direction: column
    align-items: flex-start
    p:nth-child(3)
        margin-top: 20px

.half-div
    width: 50%

textarea 
    resize: vertical
    max-width: 100%
    min-height: 50px
    

label
    display: block
    margin-bottom: 4px
    font-size: 16px
    line-height: 22px
    font-weight: 400
    letter-spacing: 0.4px

.text-field 
    width: 100%
    margin-bottom: 48px
    padding: 4px 0
    border-style: none none solid
    border-width: 1px
    border-color: #ffffff75
    border-radius: 0
    background-color: transparent
    color: #fff
    outline: none
    &:focus
        border-color: #ffffff!important

.outlined-btn
    margin-top: 16px
    margin-right: 16px
    padding: 8px 24px
    border: 1px solid #fff
    border-radius: 0
    background-color: #101010
    color: #fff
    font-size: 16px
    line-height: 22px
    font-weight: 400
    letter-spacing: .6px
    text-decoration: none
    text-transform: uppercase
    cursor: pointer
    transition: filter 0.5s ease
    filter: invert(0)
    &:hover
       filter: invert(1)


/*------ FOOTER ------- */
footer
    @include footerStyle()
    
    div
        @include wrapper-style(row, center, space-between)
        ul
            gap: 104px
//------------------------

    
/*------ MEDIA QUERIES ------- */
@media (max-width: 768px)
    #bigTitle
        font-size: 3em
        text-align: center
        margin: 0 0 20px 0
        line-height: normal

    #nav-link
        flex-direction: column
        background-color: rgba(0, 0, 0, 0.9)
        align-items: flex-start
        ul
            align-items: flex-start
            gap: 28px
            flex-direction: column
            margin-top: 50px
            margin: 50px 0
            a
                padding: 0
    .isClicked .logo
            transform: scale(0.5)
            align-self: auto
            transform-origin: left

    .isClicked
        padding: 26px 15vw

    #navigation #arrows
        display: none
    .dark-light-mode
        height: 82px
        gap: 16px
        img
            width: 22px
        .switch
            width: 63px
            .button
                height: 27px
    #hero
        height: 100svh  //browser UI fix
        #hero-background
            height: 100svh
            
    #social     //hero section
        a > img
            width: 32px

    #projects-shortcut:hover
        .lineDownArrow
            transform: scaleY(1)

        img
            transform: translateY(0px)
        .square
            transform: translateY(0px) rotate(0deg)
            border: 1px solid white
            background-color: transparent
    
    #skills-text
        margin-bottom: 32px

    #skills-list 
        ul
            justify-content: space-between
        li
            padding: 29px


    #container      //Project section
        padding-left: 10vw
        padding-right: 10vw
        display: flex
        align-items: center
        flex-direction: column
        justify-content: center
        .project
            width: 100%
            height: 100%
            transition: none
            cursor: auto

            .description
                transition: none
                opacity: 1
                transform: translateX(0) scale(1)
                text-align: center
            &:hover
                width: 100%
                //flex-basis: 40%
                .description
                    transform: translateX(0) scale(1)
                    opacity: 1
    
    .contact-wrapper
        flex-direction: column
    #contact-text
        max-width: none
    .half-div
        width: 100%
    footer
        div
            justify-content: center
            img
                display: none
            ul
                gap: 104px
