@use '../shared/variables' as *

@mixin wrapper-style($direction: row, $alignIT: center, $justC: center)
    display: flex
    flex-direction: $direction
    align-items: $alignIT
    justify-content: $justC