@use '../shared/variables' as *
*, *::before, *::after
    box-sizing: border-box
    margin: 0
    padding: 0

/* ::-webkit-scrollbar
    display: none */

html
    scroll-behavior: smooth
    font-family: "Roboto", sans-serif
    font-size: 18px
    
body
    width: 100%
    overflow-x: hidden
    transition: background-color 0.8s ease, color 0.5s ease

body[data-theme="light"]  
    background-color: $light-bg
    color: $dark-text

    .description::before
        background-color: rgba(255, 255, 255, 0.5)

body[data-theme="dark"]
    background-color: $dark-bg
    color: $light-text
    
    .description::before
        background-color: rgba(0, 0, 0, 0.5)

a
    text-decoration: none
    color: $light-text

ol,ul,li
    list-style: none

section
  &:not(#hero ,#projects, #temp, #closing)
    padding: 151px 0