#bigTitle
    font-size:  clamp(3rem, 6vw, 5rem)
    letter-spacing: 2px
    text-align: center
    
#projectTitle
    font-size:  clamp(3rem, 6vw, 5rem)
    text-transform: uppercase
    position: absolute
    text-shadow: 0px 1px 24px black
    color: white
    z-index: 1

h2
    font-size:  clamp(2rem, 5vw, 3rem)
    line-height: 1
    font-weight: 600
    margin-bottom: 26px
    
p
    word-spacing: 1.8