$dark-bg: #101010
$light-bg: #EFEFEF
$light-text: #ffff
$dark-text: #000

$global-trans: transform 0.5s ease

$py: 16.5vh
$px: 10vw
$heroHeight: 80vh
$heroHeightMobile: 60svh

$error: #F2003c
$errorFocus: #ff5c84
$success: #57d6c5
$successFocus: #aafff4

$g1: conic-gradient(from 90deg at top 3px left 3px, transparent 90deg, #fff 0)
$g2: conic-gradient(from -90deg at bottom 3px right 3px, transparent 90deg, #fff 0)